.card {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right;
  position: relative;
  min-height: 278px;
  padding: 32px 40px;
  color: #697b8c;
  line-height: 2;
}

.card ul {
  margin: 100px 0 0 0;
  padding-left: 0;
}

.card li {
  list-style: none;
  margin-top: 12px;
}